
$color-primary: #FFE53D;
$font-size-primary: 20px;
$padding: 5px;

 li {
  color: $color-primary;
  font-size: $font-size-primary;
  margin-bottom: $font-size-primary / 2;
  list-style-type: none;
}
