$font-fam-history: 'Open Sans Condensed';

label {
  font-family: $font-fam-history;
  font-size: 2vw;
  text-align: left;
}

button {
  font-size: 1.2vw;
  text-align: center;
  background-color: black;
  border: grey;
  border-radius: 3vw;
  color: white;
  width: 10vw;
  height: 3vw;
}

select {
  font-family: $font-fam-history;
  font-size: 1.5vw;
}

option {
  font-family: $font-fam-history;
  font-size: 1.5vw;
}
