@import '../component/game-pad/_game-pad.scss';
@import '../component/history/_history.scss';
@import '../component/player-info/_player-info.scss';

//VARS
$color-primary: #F5FFE6;
$color-secondary: #C0B9FF;
$color-background: #BAABAA;
$font-size-primary: 30px;
$padding: 5px;

//BASE STYLES
html {
  width: 100%;
  height: 100%;
  background-color: $color-background;
}

h1 {
  color: $color-primary;
  font-size: $font-size-primary;
  text-align: center;
  font-family: cursive;
}

h2 {
  color: $color-secondary;
  font-size: $font-size-primary;
  padding-left: $padding;
  font-family: cursive;
}
